<div class="tabs-widget widget">
    <ul class="tab-links">
        <li><a id="tab-link1"  class="tab-link1 active" href="#" onclick="getNextMovieInfo()"> 电影信息</a></li>
        <li><a id="tab-link2"  class="tab-link2  " href="#" onclick="getNextMovieClassics()"> 包含集合</a></li>
        <li><a id="tab-link1"  class="tab-link3 " href="#" onclick="getComments()"> 短评论</a></li>
    </ul>



    <div class="tab-box" style="min-height: 800px;">
        <div class="tab-content active" id = "movieinfo" >
            <ul class="post-popular" >
                <div class="row">
                    <div class="col-md-5">

                        <img alt="" src="<%- movieInfo.douban.images.medium %>">
                        <hr/>

                        <h4><%- movieInfo.douban.title %></h4>
                        <h6><%- movieInfo.douban.original_title %></h6>


                        <div class="row">
                            <div class="col-md-12">
                                <p><%- movieInfo.douban.genres %></p>

                                <p><%- movieInfo.imdb.Genre %></p>
                                <hr/>

                            </div>
                        </div>
                    </div>


                    <ul class="popular-product col-md-7">
                        <li>
                            <h5><img alt="" src="/images/douban.png" style="width: 24px">
                                <span><%- movieInfo.douban.rating.average %></span>
                                <small>（<%- movieInfo.douban.ratings_count %>人评分）</small>
                            </h5>
                        </li>

                        <li>
                            <h5><img alt="" src="/images/imdb.png" style="width: 24px">
                                <span><%- movieInfo.imdb.imdbRating %></span>
                                <small>（<%- movieInfo.imdb.imdbVotes %>人评分）</small>
                            </h5>
                        </li>

                        <li>
                            <h5><img alt="" src="/images/tomato.png" style="width: 24px">
                                <span><%- movieInfo.imdb.tomatoUserRating * 2 %></span>
                                <small>（<%- movieInfo.imdb.tomatoUserReviews %>人评分）</small>
                            </h5>

                        </li>

                        <% if(movieInfo.metacritic) { %>

                        <li>
                            <h5><img alt="" src="/images/metacritic-user.png" style="width: 24px">
                                <span><%- movieInfo.metacritic.officeRating %></span>
                                <small>（<%- movieInfo.metacritic.officeCount %>人评分）</small>
                            </h5>

                        </li>
                        <li>
                            <h5><img alt="" src="/images/metacritic-critic.png" style="width: 24px">
                                <span><%- movieInfo.metacritic.userRating %></span>
                                <small>（<%- movieInfo.metacritic.userCount %>人评分）</small>
                            </h5>

                        </li>

                        <% } %>

                        <li>
                            <h6><img alt="" src="/images/dollar.png"
                                     style="width: 24px"> 北美票房 <%- movieInfo.imdb.BoxOffice %></h6>
                        </li>

                        <li>
                            <h6><img alt="" src="/images/rate.png" style="width: 24px"> 电影评级 <%- movieInfo.imdb.Rated %>
                            </h6>
                        </li>

                    </ul>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <h6>导演</h6>

                        <p><%- movieInfo.douban.directors[0].name %></p>

                        <p><%- movieInfo.imdb.Director %></p>
                        <h6>演员</h6>


                        <p>
                            <% movieInfo.douban.casts.forEach(function (cast, index) { %>
                            <%- cast.name %>
                            <% }) %>
                        </p>


                        <p><%- movieInfo.imdb.Actors %></p>
                        <hr/>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <h6>简介</h6>

                        <p><%- movieInfo.douban.summary %></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                        <h6>Plot</h6>

                        <p><%- movieInfo.imdb.Plot %></p>
                    </div>
                </div>

            </ul>
        </div>

        <div class="tab-content" id = "movieClassics">
            <ul class="post-recent" >

                <% if (classicByMovie.length > 0) { %>
                <% classicByMovie.forEach(function (classic) { %>

                <div>

                    <a href="/classics/<%= classic.eName %>" target="_blank"><img class="img-thumbnail" alt=""
                                                                                  src="<%= classic.logo %>"> </a>
                    <h5><%= classic.cName %></h5>

                    <p><%= classic.shortDescription %></p>
                </div>

                <% }) %>
                <% }  else { %>
                <div>暂无相关合集</div>
                <% } %>
            </ul>
        </div>
        <div class="tab-content" id="movieComments">
            <ul class="post-comments" >
                <li>
                    <a href="#" onclick="getComments()"><i class="fa  fa-refresh"> 刷新试试</i></a>

                </li>
                <li>
                    <h6><a href="#">没有找到评论</a></h6>
                </li>
            </ul>
        </div>
    </div>
</div>


<script>
    function getComments(callback) {
        var movieid = doubanid;

        $.ajax({
            type: 'get',
            cache: false,
            url: '/api/getcomments/' + movieid + '/' + '13',
            success: function (comments) {

                var movieCommentsHTML = '';

                if (comments.length > 0) {

                    movieCommentsHTML = '<div><a href="#####" onclick="getComments(function callback(result){})">换一批<i class="fa fa-refresh"> </i></a></div>'


                    for (var i = 0; i < comments.length; i++) {

                        movieCommentsHTML = movieCommentsHTML + '<li id="'+ comments[i]._id + '"><h6> ' + '<img alt="" src="/images/' + comments[i].sourcesite + '.png"  >' + '&nbsp' ;

                        if (comments[i].office){
                            movieCommentsHTML = movieCommentsHTML +  comments[i].office + '-'
                        }

                        movieCommentsHTML = movieCommentsHTML + comments[i].avatar + '-' + '<span>' + comments[i].crate + '</span></h6>'


                        var commentClen = strClen(comments[i].comment)
                        var commentElen = strElen(comments[i].comment)

                        if ( commentClen > 180 || commentElen > 180 ){

                            if(commentClen > commentElen){
                                movieCommentsHTML = movieCommentsHTML +
                                        '<p class="short"> ' + comments[i].comment.substring(0,80) + ' . . . '
                                        '<a   href="####" onclick=show("'+ comments[i]._id +'")>展 开 <i class="fa fa-chevron-circle-down"></i></a>' + ' </p> ' +
                                        '<p style="display:none" class="long"> ' + comments[i].comment +
                                        '<a   href="####" onclick=show("'+ comments[i]._id +'")>收 起 <i class="fa fa-chevron-circle-up"></i></a>' + ' </p> ' +
                                        '</li>'
                            } else {
                                movieCommentsHTML = movieCommentsHTML +
                                        '<p class="short"> ' + comments[i].comment.substring(0,160) + ' . . . ' +
                                '<a   href="####" onclick=show("'+ comments[i]._id +'")>展 开 <i class="fa fa-chevron-circle-down"></i></a>' + ' </p> ' +
                                '<p style="display:none" class="long"> ' + comments[i].comment +
                                '<a   href="####" onclick=show("'+ comments[i]._id +'")>收 起 <i class="fa fa-chevron-circle-up"></i></a>' + ' </p> ' +
                                '</li>'
                            }

                        } else{
                            movieCommentsHTML = movieCommentsHTML+
                                    '<p class="short"> ' + comments[i].comment + ' </p> ' +
                                    '</li>'
                        }
                    }

                    movieCommentsHTML = movieCommentsHTML + '<div><a href="####" onclick="getComments()">换一批<i class="fa fa-refresh"></i></a></div>'

                    movieCommentsHTML = '<ul class="movie-comments" >' + movieCommentsHTML + '</ul>'
                    $('#movieComments').html(movieCommentsHTML)
                    callback('done')

                }else{
                    movieCommentsHTML = '<div><a class = "changealot" href="####" onclick="getComments()">换一批<i class="fa  fa-refresh"></i></a></div>'
                    movieCommentsHTML = '<ul class="movie-comments" >' + movieCommentsHTML + '</ul>'
                    $('#movieComments').html(movieCommentsHTML)
                    callback('done')


                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }

    function show(aaa){
        $("#" + aaa +  " p.short").toggle()
        $("#" + aaa +  " p.long").toggle()
        return false
    }

    function strClen(str){
        var len = 0;
        for (var i=0; i<str.length; i++) {
            var c = str.charCodeAt(i);
            //单字节加1
            if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) {
            }
            else {
                len+=2;
            }
        }
        return len;
    }

    function strElen(str){
        var len = 0;
        for (var i=0; i<str.length; i++) {
            var c = str.charCodeAt(i);
            //单字节加1
            if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) {
                len++;
            }
        }
        return len;
    }
</script>
