<div class="tabs-widget widget">
    <ul class="tab-links">
        <li><a class="tab-link1 active" href="#"> 电影信息</a></li>
        <li><a class="tab-link2 " href="#" onclick="getComments()"> 短评论</a></li>
    </ul>
    <div class="tab-box">
        <div class="tab-content active">
            <ul class="post-popular">
                <div class="row">
                    <div class="col-md-5">

                        <img alt="" src="<%- movieInfo.douban.images.medium %>">
                        <hr/>

                        <h4><%- movieInfo.douban.title %></h4>
                        <h6><%- movieInfo.douban.original_title %></h6>
                    </div>


                    <ul class="post-popular col-md-7">






                        <div>
                            <h6><img alt="" src="/images/douban.png" style="width: 24px"> <%- movieInfo.douban.rating.average %> （<%- movieInfo.douban.ratings_count %>人评分）</h6>
                            <hr/>

                        </div>


                        <div>
                            <h6><img alt="" src="/images/imdb.png" style="width: 24px"> <%- movieInfo.imdb.imdbRating %> （<%- movieInfo.imdb.imdbVotes %>人评分）</h6>
                            <hr/>

                         </div>


                        <div>
                            <h6><img alt="" src="/images/tomato.png"
                                     style="width: 24px"> <%- movieInfo.imdb.tomatoRating %> （<%- movieInfo.imdb.tomatoReviews %>人评分）</h6>
                            <hr/>

                         </div>


                        <div>
                            <h6><img alt="" src="/images/dollar.png"
                                     style="width: 24px"> 北美票房 <%- movieInfo.imdb.BoxOffice %></h6>

                            <hr/>

                        </div>


                        <div>
                            <h6><img alt="" src="/images/rate.png" style="width: 24px"> 电影评级 <%- movieInfo.imdb.Rated %></h6>
                            <hr/>

                        </div>


                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p><%- movieInfo.douban.genres %></p>

                        <p><%- movieInfo.imdb.Genre %></p>
                        <hr/>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <h6>导演</h6>

                        <p><%- movieInfo.douban.directors[0].name %></p>

                        <p><%- movieInfo.imdb.Director %></p>
                        <h6>演员</h6>


                        <p>
                            <% movieInfo.douban.casts.forEach(function (cast, index) { %>
                            <%- cast.name %>
                            <% }) %>
                        </p>


                        <p><%- movieInfo.imdb.Actors %></p>
                        <hr/>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <h6>简介</h6>

                        <p><%- movieInfo.douban.summary %></p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                        <h6>Plot</h6>

                        <p><%- movieInfo.imdb.Plot %></p>
                    </div>
                </div>

            </ul>
        </div>
        <div class="tab-content">
            <ul class="post-recent" id="movieComments">
                <li>
                    <a href="#" onclick="getComments()"><i class="fa  fa-refresh"> 刷新试试</i></a>

                </li>
                <li>
                     <h6><a href="#">没有找到评论</a></h6>
                </li>
            </ul>
        </div>
    </div>
</div>




<script>
    function getComments() {
        var movieid = '<%- videoInfo.doubanid[0] %>';
        $.ajax({
            type: 'get',
            cache:false,
            url: '/api/getcomments/' + movieid + '/' + '16',
            success: function (comments) {
                if (comments.length > 0) {

                    $('#movieComments').html('<li><a href="#" onclick="getComments()"><i class="fa  fa-refresh"> 换一批</i></a></li>')

                    var tr = '' ;

                    for (var i = 0; i < comments.length; i++) {

                        tr = tr + '<li><h6> ' +  '<img alt="" src="/images/'+comments[i].sourcesite +'.png" style="width: 16px">' +'&nbsp'+ comments[i].avatar +'-'+comments[i].crate +   '</h6><h6> ' +  comments[i].comment +  ' </h6> </li>'

                     }

                    tr = tr + '<li><a href="#" onclick="getComments()"><i class="fa  fa-refresh"> 换一批</i></a></li>'
                     $('#movieComments').append(tr)
                    tr.fadeIn(8000)

                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
</script>
