<!-- recent-works-box -->
<div>



    <h3>相同作者视频</h3>
    <!-- Wrapper for slides -->
    <div class="item active">
        <div class="row">
            <% videoByAuthor.forEach(function (video) { %>
            <div class="work-post web-design brochures col-md-3 col-sm-4 col-xs-6" style="height: 155px">
                <div class="work-post-gal">
                    <img alt="" class="videoimg" src="<%= video.thumbnail ? video.thumbnail : video.thumbnail_v2 %>">
                    <span class="jutou<%= video.videoSpoiler %>">剧透</span>


                    <% if( video.videoType == 'professional') { %>
                    <span class="videotype">专业</span>
                    <% } %>

                    <% if( video.videoType == 'complaint') { %>
                    <span class="videotype">吐槽</span>
                    <% } %>

                    <% if( video.videoType == 'minutes') { %>
                    <span class="videotype">讲解</span>
                    <% } %>


                    <div class="hover-box">
                        <a class="page" href="/videos/watch/<%= video.id %>" target="_blank"></a>
                    </div>
                    <span class="derution"><%= parseInt(video.duration / 60 % 60) + ':'+ (video.duration % 60) %></span>
                </div>
                <div>
                    <h6><%= video.title %></h6>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
