<%- include header.ejs %>
<script>
    $("#<%= header %>").addClass("active")
</script>


<div id="content">
    <!-- blog-box Banner -->
    <div class="blog-box with-nosidebar">
        <div class="container">
            <%- include list_movies.ejs %>
            <%- include page.ejs %>
        </div>
    </div>
</div>

<%- include footer.ejs %>