<%- include header.ejs %>
<script>
    $("#<%= header %>").addClass("active")
</script>

<div class="container">
    <div class="row">
        <%- include list_tags.ejs %>
    </div>
    <div class="row">

        <%- include list_classics.ejs %>
    </div>
</div>
<%- include footer.ejs %>