、

            <div class="row">

                <% movies.forEach(function (movie, index) { %>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="item news-item">
                        <div class="inner-item">
                            <img alt="" class="poster" src="<%= movie.douban.images.large %>">

                            <div class="hover-item">
                                <ul>
                                    <li><span class="douban" href="#"><img alt="" src="/images/douban.png" >
                                            豆瓣：<%= movie.douban.rating.average %></span></li>
                                    <% if(movie.imdb) { %>
                                    <% if(movie.imdb.imdbRating > 1) { %>
                                    <li><span class="imdb" href="#"><img alt="" src="/images/imdb.png" >
                                            imdb：<%= movie.imdb.imdbRating %></span></li>
                                    <% if(movie.imdb.tomatoRating != 'N/A') { %>
                                    <li><span class="tomato" href="#"><img alt="" src="/images/tomato.png" ></i>
                                            tomato：<%= movie.imdb.tomatoRating %></span></li>
                                    <% } %>

                                    <% if(movie.metacritic) { %>
                                    <li><span class="metacritic" href="#"><img alt="" src="/images/metacritic-user.png" ></i>
                                            metacritic：<%= movie.metacritic.officeRating %></span></li>
                                    <% } %>

                                    <% if(movie.imdb.Rated != 'N/A') { %>
                                    <li><span class="rated" href="#"><img alt="" src="/images/rate.png" ></i>
                                            评级：<%= movie.imdb.Rated %></span></li>
                                    <% } %>


                                    <% } %>
                                    <% } %>

                                </ul>
                            </div>
                        </div>
                        <h5><%= movie.douban.title %><span> <%= movie.douban.year %> <%= movie.douban.countries %></span></h5>






                        <div style="bottom: 10px;margin-bottom: 15px;" class ="btn-block">
                            <% if(movie.videoid) { %>

                            <a class="read-film  " href="/videos/watch/<%= movie.videoid[0]%>"><%= movie.videoid.length%><i class="fa fa-video-camera"></i></a>
                            <% } else { %>

                            <a class="read-film " href="#" disabled="disabled"> 0 <i class="fa fa-video-camera"></i></a>


                            <% } %>

                            <% if(movie.filmid) { %>

                            <a class="read-film " href="/films/watch/<%= movie.filmid[0]%>"><%= movie.filmid.length%><i class="fa fa-film"></i></a>

                            <% } %>

                        </div>
                        <h6><%= movie.douban.summary%> </h6>

                    </div>
                </div>
                <% }) %>
            </div>



<!-- End content -->






