<div class="portfolio-box with-4-col">
    <div class="container">
        <div class="portfolio-container">
            <% classics.forEach(function (classic) { %>

            <div class="work-post web-design brochures">
                <div class="work-post-gal">
                    <img alt="classicimg" src="<%= classic.logo %>">

                    <div class="hover-box">
                        <a class="page" href="/classics/<%= classic.eName %>"></a>
                    </div>
                </div>
                <div class="work-post-content">
                    <h5><%= classic.cName %></h5>
                    <span>包含电影数量：<%= classic.doubanid.length %></span>
                    <span><%= classic.shortDescription %></span>
                    <span><%= classic.tags %></span>
                </div>
            </div>

            <% }) %>

        </div>
    </div>

    <div class="row">
        <%- include page.ejs %>
    </div>
</div>