<!-- content
			================================================== -->

<div class="container" xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <% videos.forEach(function (video) { %>

                <div class="work-post web-design brochures col-lg-2 col-md-3 col-sm-4 col-xs-6" style="min-height: 155px;height: 155px;">
                    <div class="work-post-gal">
                        <img class="videoimg" alt="" src="<%= video.thumbnail ? video.thumbnail : video.thumbnail_v2 %>">
                        <span  class="jutou<%= video.videoSpoiler %>">剧透</span>


                        <% if( video.videoType == 'professional') { %>
                        <span class="videotype">专业</span>
                        <% } %>

                        <% if( video.videoType == 'complaint') { %>
                        <span class="videotype">吐槽</span>
                        <% } %>

                        <% if( video.videoType == 'minutes') { %>
                        <span class="videotype">讲解</span>
                        <% } %>

                        <span class="author"><img alt="" class="img-circle" src="/author/<%= video.user.id%>_logo.jpeg" style="width: 32px"></span>



                        <div class="hover-box">
                            <a class="page" href="/videos/watch/<%= video.id %>" target="_blank"></a>
                        </div>



                        <span class="derution"><%= parseInt(video.duration / 60 % 60) + ':'+ (video.duration % 60) %></span>
                        <span class="publishdate"><%= video.published.substring(0,10) %></span>
                    </div>
                    <div class="work-post-tit">
                        <h6><%= video.title %><br/></h6>
                     </div>
                </div>
                <% }) %>

            </div>
            <div class="row">
                <%- include page.ejs %>
            </div>


</div>

<!-- End content -->